__pycache__
/__pycache__
__pycache__/tournament.cpython-312.pyc
__pycache__/run_tournament.cpython-312.pyc
__pycache__/manage.cpython-312.pyc
__pycache__/tournament.cpython-312.pyc
__pycache__/manage.cpython-312.pyc
__pycache__/run_tournament.cpython-312.pyc
__pycache__/tournament.cpython-312.pyc
/__pycache__
/__pycache__
__pycache__/tournament.cpython-312.pyc
